*{
    padding:0;
    margin: 0;
}
.container{
    margin: 40px;
    background-color: peachpuff;
    border: solid blue 5px;
}


.heading__s1{
    background-color: black;
    border: black solid 1px;
    border-radius: 2px;
    color: white;
    width: fit-content;
    
    
    
  
}
.heading__s2 h3{
    border-bottom: 2px rgb(134, 11, 103) solid;
    padding: 10px;
    text-align: center;
    width: 30%;
}
.heading__s2{
    padding-top: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    color: rgb(17, 2, 2);
    
}
.images{
    padding: 10px;
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    
}
.max,.ma{
    width:200px ;
    padding: 10px;
   

}
.max img{
    
    width: 150px;
    height: 200px;
    border: olivedrab 2px solid;  
   
}
